## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Carnarvon,AU,2022-02-07 05:04:08,-24.8667,113.6333,78.44,45,5,21.07,clear sky
1,1,Mataura,NZ,2022-02-07 04:59:54,-46.1927,168.8643,59.49,45,5,5.14,clear sky
2,2,Cidreira,BR,2022-02-07 05:04:09,-30.1811,-50.2056,66.85,74,9,8.61,clear sky
3,3,Provideniya,RU,2022-02-07 05:04:09,64.3833,-173.3000,-0.29,65,4,4.47,clear sky
4,4,Tiksi,RU,2022-02-07 05:03:21,71.6872,128.8694,-18.04,98,100,6.93,overcast clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Carnarvon,AU,2022-02-07 05:04:08,-24.8667,113.6333,78.44,45,5,21.07,clear sky
6,6,Itarema,BR,2022-02-07 05:00:42,-2.9248,-39.9167,76.95,84,2,7.20,clear sky
19,19,Mahebourg,MU,2022-02-07 04:59:18,-20.4081,57.7000,81.25,77,100,11.30,overcast clouds
24,24,Kapaa,US,2022-02-07 05:04:16,22.0752,-159.3190,75.18,78,20,1.99,few clouds
26,26,Bonthe,SL,2022-02-07 05:03:06,7.5264,-12.5050,76.12,91,64,1.19,broken clouds
28,28,Rikitea,PF,2022-02-07 04:59:56,-23.1203,-134.9692,78.98,72,10,17.98,clear sky
29,29,Bambous Virieux,MU,2022-02-07 05:04:18,-20.3428,57.7575,82.22,83,75,11.50,broken clouds
39,39,Souillac,MU,2022-02-07 04:59:39,-20.5167,57.5167,81.36,75,100,10.87,overcast clouds
42,42,Puerto Escondido,MX,2022-02-07 05:04:22,15.8500,-97.0667,76.03,83,0,4.61,clear sky
43,43,Ternate,ID,2022-02-07 05:04:23,0.8000,127.4000,83.35,70,100,7.70,overcast clouds

In [14]:
len(preferred_cities_df)

169

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                169
City                   169
Country                169
Date                   169
Lat                    169
Lng                    169
Max Temp               169
Humidity               169
Cloudiness             169
Wind Speed             169
Weather Description    169
dtype: int64

In [17]:
# 4a+. Print the NaN rows.
is_NaN = preferred_cities_df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN= preferred_cities_df[row_has_NaN]

rows_with_NaN

Empty DataFrame
Columns: [City_ID, City, Country, Date, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Weather Description]
Index: []

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Carnarvon,AU,2022-02-07 05:04:08,-24.8667,113.6333,78.44,45,5,21.07,clear sky
6,6,Itarema,BR,2022-02-07 05:00:42,-2.9248,-39.9167,76.95,84,2,7.20,clear sky
19,19,Mahebourg,MU,2022-02-07 04:59:18,-20.4081,57.7000,81.25,77,100,11.30,overcast clouds
24,24,Kapaa,US,2022-02-07 05:04:16,22.0752,-159.3190,75.18,78,20,1.99,few clouds
26,26,Bonthe,SL,2022-02-07 05:03:06,7.5264,-12.5050,76.12,91,64,1.19,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
688,688,Bairiki,KI,2022-02-07 05:08:24,1.3292,172.9752,86.00,70,20,8.05,few clouds
689,689,Manggar,ID,2022-02-07 05:08:24,-2.8833,108.2667,83.68,73,100,9.71,overcast clouds
702,702,Salaga,GH,2022-02-07 05:08:30,8.5508,-0.5188,76.89,22,2,2.24,clear sky
708,708,Ambon,ID,2022-02-07 05:08:32,-3.6954,128.1814,89.74,62,40,6.91,scattered clouds
715,715,Ciudad Ojeda,VE,2022-02-07 05:08:35,10.1964,-71.3082,76.64,76,27,5.79,scattered clouds

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = "NaN"
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Carnarvon,AU,78.44,clear sky,-24.8667,113.6333,NaN
6,Itarema,BR,76.95,clear sky,-2.9248,-39.9167,NaN
19,Mahebourg,MU,81.25,overcast clouds,-20.4081,57.7000,NaN
24,Kapaa,US,75.18,few clouds,22.0752,-159.3190,NaN
26,Bonthe,SL,76.12,broken clouds,7.5264,-12.5050,NaN
28,Rikitea,PF,78.98,clear sky,-23.1203,-134.9692,NaN
29,Bambous Virieux,MU,82.22,broken clouds,-20.3428,57.7575,NaN
39,Souillac,MU,81.36,overcast clouds,-20.5167,57.5167,NaN
42,Puerto Escondido,MX,76.03,clear sky,15.8500,-97.0667,NaN
43,Ternate,ID,83.35,overcast clouds,0.8000,127.4000,NaN

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"] 
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Carnarvon,AU,78.44,clear sky,-24.8667,113.6333,Hospitality Carnarvon
6,Itarema,BR,76.95,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
19,Mahebourg,MU,81.25,overcast clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
24,Kapaa,US,75.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
26,Bonthe,SL,76.12,broken clouds,7.5264,-12.5050,Bonthe Holiday Village
...,...,...,...,...,...,...,...
688,Bairiki,KI,86.00,few clouds,1.3292,172.9752,Tarawa Boutique Hotel
689,Manggar,ID,83.68,overcast clouds,-2.8833,108.2667,Guest Hotel
702,Salaga,GH,76.89,clear sky,8.5508,-0.5188,Bore Nada Guest House
708,Ambon,ID,89.74,scattered clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
715,Ciudad Ojeda,VE,76.64,scattered clouds,10.1964,-71.3082,Hotel América

In [22]:
# 8a. Create the output File (CSV)
hotel_df.to_csv("../Vacation_Search/hotels.csv")
# 8b. Export the City_Data into a csv
preferred_cities_df.to_csv("cities.csv", index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<dt>Hotel Name>/dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</d1>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))